
ocs_cred = {'user': '<username>', 'passwd': '<password>', 'host' : 'https://hostname.pl'}
google_conf = {'GoogleDOC_name': 'SoftwareWhiteList-spreadsheet','scope': 'https://www.googleapis.com/auth/drive', 'GSCN': 'NAME','GoogleAPI_cred': 'GoogleAPI/whitelist.json'}
